rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  	match /user_article_engagement/{engagement} {
    	allow write: if resource.data.user_id == request.auth.uid;
    }
    
    match /user_article_source_statuses/{status} {
    	allow write: if resource.data.user_id == request.auth.uid;
    }
    
    match /user_data_source_statuses/{status} {
    	allow write: if resource.data.user_id == request.auth.uid;
    }
    
    match /user_term_data_source_engagement/{engagement} {
    	allow write: if resource.data.user_id == request.auth.uid;
    }
    
    match /{document=**} {
      allow read: if true;
    }
  }
}